@import "../../app/scss/variables";

.paragraph {
  color: $text;
}

.footer__subHeading {
  color: $footerAccentColor;
  font-weight: 600;
}

.footer__paragraph {
  color: $footerTextColor;
}

.copyrigth {
	max-width: 70%;
	margin: 0 auto;
	padding: $copyrightPaddingY 0;
  color: $footerTextColor;
	border-top: 1px solid $footerTextColor;
	text-align: center;
}
