label {
	position: relative;
	width: 100%;
  height: max-content;

  .icon {
    position: absolute;
    top: 50%;
    right: 1.5%;
		transform: translateY(-50%);
		font-size: 1.3rem;
    cursor: pointer;
  }
}
