@import "../../../assets/styles/variables";

.slider {
  max-width: 100%;
  min-height: 95vh;
  border-bottom-left-radius: $appSliderBorderRadiusBottom;
  border-bottom-right-radius: $appSliderBorderRadiusBottom;
  overflow: hidden;
  position: relative;

	.slider__content{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
    height: 100%;
		overflow: hidden;
	}

  .slider__container {
    width: 100%;
    height: 100%;
    display: flex;
		transition: translate .9s ease-in-out;
  }

  .slider__controllTool {
    position: absolute;
    width: max-content;
    min-height: max-content;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    bottom: 0;
    left: 100px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

		button{
			background: none;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			outline: none;
			transition: scale .1s ease-in;
		}

    .slider__controllTool_left,
    .slider__controllTool_rigth {
      width: 20px;
      height: 20px;
			font-size: 1.3rem;
			&:focus{
				scale: 1.4;
			}
    }

    .controllTool__items {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
			button{
				font-size: .8rem;
				&:focus{
					scale: 1.5;
				}
			}
    }
  }
}
