//main
$text: #fefefe;

//footer
$footer-bg: #2d2d2d;
$footer-text: #cbc9c9;

//buttons 
$buttonBorderRadius: 4px;
$buttonPaddingX: 20px;
$buttonPaddingY: 10px;

//input
$inputBorderRadius: 4px;
$inputPaddingX: 20px;
$inputPaddingY: 10px;
$inputBorderColor: #676774;
$inputTextColor: rgb(29, 29, 29);