//layout
$layoutPaddingTop: 0;
$layoutPaddingBottom: 40px;
$layoutPaddingX: 40px;

//main
$text: #fefefe;

//footer
$footer-bg: #2d2d2d;
$footerTextColor: #cbc9c9;
$footerAccentColor: #ffffff;
$footerPaddingX: 200px;
//footer icons
$footerIconsGap: 10px;
$footerIconsPaddingY: 60px;
//footer items
$footerItemsGap: 30px;
$footerItemsMarginBottom: 60px;
//footer item
$footerItemGap: 20px;
//footer infos
$footerInfosGap: 10px;
//footer info
$footerInfoGap: 15px;

//copyright
$copyrightPaddingY: 20px;

//header
$headerPaddingY: 10px;
$headerVerticalGap: 15px;
//header heading
$headerHeadingMarginY: 20px;
//header nav
$headerNavBg: #fff;
$heaerNavBg_main: #f9ece6;
$headerNavBorderColor: #e5e5e5;
$headerNavBorderRadius: 8px;
$headerNavBorderRadiusTop: 15px;
$headerNavBorderRadiusBottom: 0px;
//header item
$headerItemBg: #f4f5f6;
$headerItemBg_main: #fff;
$headerItemBorderRadius: 4px;
$headerItemPaddingX: 20px;
$headerItemPaddingY: 5px;

//buttons 
$buttonBorderRadius: 4px;
$buttonPaddingX: 20px;
$buttonPaddingY: 10px;

//input
$inputBorderRadius: 4px;
$inputPaddingX: 20px;
$inputPaddingY: 10px;
$inputBorderColor: #676774;
$inputTextColor: rgb(29, 29, 29);
