@import "./variables";

@mixin buttonColors($bgColor, $textColor) {
  background: $bgColor;
  color: $textColor;
  &:hover {
    color: $bgColor;
    border-color: $bgColor;
  }
}

.button {
  transition: background 0.2s;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: $buttonBorderRadius;
  padding: $buttonPaddingY $buttonPaddingX;
  &:hover {
    background: transparent;
  }
}
.button_default {
  @include buttonColors(white, black);
}
.button_pink {
  @include buttonColors(pink, white);
}
.button_blue {
  @include buttonColors(#109dbd, white);
}
.button_red {
  @include buttonColors(#db4f66, white);
}
.button_violet {
  @include buttonColors(#9242dd, white);
}
